/**
    IMPORT EXTRA FONTS RESOURCES 
    ALL NECESSARY CSS VARIABLES
* **/
@font-face {
    src: url("AdobeCleanUX-Light.woff2") format("opentype");
    font-family: 'Adobe';
}
:root{
    --dpr-bg:#000;
    --ltr-clr: #36454f3d;
    --lnk-clr: azure;
    --clr:#888;
    --bggr-fnt-size:3em;
    --md-fnt-size:1.5em;
    --md-width:50%;
    --mx-width:100%;
    --def-width:96%;
    --mx-height:100vh;
    --neo:seagreen;
    --shd: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar{ display: none;}
html{overflow-y: scroll;scroll-behavior: smooth;}
html,body{
    padding: 0; margin: 0;
    width: var(--mx-width);
    min-height: var(--mx-height);
    background-color: var(--dpr-bg);
    color: var(--clr);
    font-family:"Adobe" ;
}
body a{ color: var(--clr); text-decoration: none; }
a.active{ color:var(--lnk-clr)}
a.active:hover{color: var(--neo);}
.col{ display: flex;flex-direction: column;width: 50%;}
.col.r{align-content: flex-end;text-align: right;}
.col.l{ align-items: flex-start; }








/**ACCROSS ALL THE PAGES CSS* **/
nav{
    width: var(--def-width);
    margin: auto;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
nav a{
    font-size: var(--md-fnt-size);
    margin-right: 10vh;
    line-height: 12vh;
}
button{
  background-color: var(--lnk-clr);
  border-radius: .5rem;
  padding: .5rem 1rem .5rem 1rem;
  font-size: var(--bggr-fnt-size);
  border:none;
  margin-bottom: 2vh;
  cursor: pointer;
}
.btn{
    width: max-content;
    font-size: var(--md-fnt-size);
    margin-top: 2vh;
}
section{
    width: var(--def-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40vh;
    flex-wrap: wrap;
}
section .max{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
section h2{
    padding: 2vh;
    margin: 0;
    font-size: var(--md-fnt-size);
}
footer section{ margin:0 auto; height: 95vh;}
footer p.right{
    height: 4vh;
    width: var(--def-width);
    margin: auto;
    margin-top: 2vh;
    text-align: right;
    font-size: var(--md-fnt-size);
}
footer .col.r a{ 
    word-spacing: 2vh;
    margin-bottom: .5vh !important;
    margin-top: .5vh !important;
    text-decoration: underline;
    font-size: var(--md-fnt-size);
}
h1{ margin: 0; color: var(--lnk-clr); 
    font-size: var(--bggr-fnt-size);
}
section p{font-size: var(--md-fnt-size);
    margin-top: 1vh;
    word-spacing: 2vh;
}
main .left-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    text-align: flex-end;
    margin-bottom: 4vh;
}
main .left-heading h1{text-align: right;}
main .left-heading p{
  margin: 0;
  font-size: var(--md-fnt-size);
  width: var(--md-width);
  text-align: right;
}




/** SECTIONS INVERTED* **/
section .inverted{ min-height: 90vh;}
section .inverted .col.l{ justify-content: flex-end; }
section .inverted h1{ margin: 0;}
section .inverted img{ height: 40vh; }



/**ACCORDION* **/
.panel h1:after{ content: '\002B'; float: right;}
.panel div{
    text-align: justify;
    transition: max-height 0.5s ease-out;}
#accordion .panel{
    transition: max-height 0.2s ease-out;
    margin-bottom:4vh;}
#accordion .body{
    padding-left: 2vh;
    display :none; margin-bottom: 0;}
#accordion .active .header:after{
    content: "\2212"; color: var(--lnk-clr);}
#accordion .active .body {display : block; }




/**
    SECTIONS MID
* **/
section .mid{
    display: flex;
    flex-direction: column;
    width: var(--md-width);
    height: auto; margin: auto;
}
section .mid#events{
    display: grid;
    align-items: center;
    background-image: url('../etc/code.jpg');
    height: 70vh;
    background-size: contain;
}
section .mid#events div{
    background: var(--dpr-bg);
    width: 80%;
    border: solid 3px var(--ltr-clr);
    border-radius: 4px;
    margin: auto;
}
section .mid#events div p{ 
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    padding: 5vh; }
section .mid h2{
    background-color: var(--ltr-clr);
    width: max-content;
    border-radius: 4px;
}
section .mid h2:after{
    content: '\002B';
    float: right;
    padding-left: 12vh;
}
section .mid p{ text-align: justify; margin-top: 2vh; }
section .mid iframe,
section .mid img,
section .mid video{ 
    min-height: 30vh;
    height: 70vh; 
    width: 100%;
    border-radius: 4px;
    border: solid var(--ltr-clr) 3px;
    object-fit: cover;
}
section .mid input{
    height: 8vh;
    border-radius: 1vh;
    border: 3px solid var(--ltr-clr);
    margin-top: 1rem;
    text-align: center;
    color: var(--clr);
    font-size: var(--smllr-fnt-zize);
    background: var(--dpr-bg);
}
section#faq__section h2{
    background:none;
    border: var(--ltr-clr) 2px solid;
    color: var(--lnk-clr);
}



/**
    FLEX HOLIZONTAL
* **/
section div.col-section{
    width: 23.1%;
    height: 70vh;
    min-height: max-content !important;
    border-radius: 1vh;
    text-align: center;
    background-color: var(--ltr-clr);
    border: 2px solid var(--ltr-clr);
}
section div.col-section p{
    padding: 4vh;
    padding-bottom:0;
    text-align: justify;
    margin: 0;
}
section p a{
    text-decoration: underline;
    color:var(--lnk-clr);
}



/**DROP ITEMS* **/
section .multi-tool{
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 4.5%;
    min-height: 72vh;
    justify-content: space-between;
}
section .multi-tool::after{flex: auto; content: "";}
section .multi-tool a img{height: 48px;}
section .multi-tool a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    height: 28vh;
    width: 16%;
    align-items: center;
    border: 2px solid var(--ltr-clr);
    background: var(--ltr-clr);
    padding: 0 !important;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 0 !important;
}





/** MASONRY GRID PORTIFOLIO DESIGN **/
.masonry-grid{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(14, 2.5vh);/**6vh**/
    gap: 2rem;/**0.25rem**/
    width: 100% !important;
}
.masonry-grid .brick{ 
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    counter-increment: brick-counter;;
    border:solid 0.03125rem var(--lnk-clr);
}
.masonry-grid .brick img{
    object-fit: contain; 
    width: 100%;
    height: 100%;
}
.brick:nth-of-type(1){ grid-column: 1/ span 14; grid-row: 1 / span 12 ;}
.brick:nth-of-type(2){ grid-column: 15/ span 10; grid-row: 1 / span 6 ;}
.brick:nth-of-type(3){ grid-column: 15/ span 10; grid-row: 7 / span 6;}
.brick:nth-of-type(4){ grid-column: 25/ span 8; grid-row: 1 / span 12 ;}
.show {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
}  
.hide {
    opacity: 0;
    visibility: hidden;
    position: relative; 
    transition: all 1s ease-in-out;
}




/**
    STORE
**/
main section .store-items{ margin-top: 0; }
section .store-items .col.r{
    height: 100vh;
    justify-content: space-between;
    position: sticky;
    top: 0vh;
}
section .store-items .item-tags{ margin-top: 2%; }
section .store-items .item-tags a{
    margin-left: 10vh;
    line-height: 6vh;
    font-size: var(--md-fnt-size);
}
section .store-items .col.r p,
section .store-items .col.r p a{ margin: 0; padding: 0; }
section .store-items .col.l{
    min-height: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
section .store-items div.item{
    background-color: var(--ltr-clr);
    width: 48%;
    height: 60vh;
    margin-top: 4%;
    border-radius: 1vh;
}
section .store-items div.item img{
    object-fit: contain;
    width: 100%;
}
section .col.r{align-items: flex-end;}




/**
    STAGGERED LAYOUT
--- **/
section .col.r .fix-text{
    align-items:center; 
    height:100%;
    display: flex; 
    justify-content: center; 
    width: var(--def-width);
    text-align: justify;
}
section .fixed .col.l{
    display: inline-block;
    column-count: 2;
    column-gap: 4vh;
}
section .fixed div.item{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 0;
    background: none;
}
section .fixed div.item:nth-child(1){margin-top: 30vh;}
section .fixed div.item img{
    display: block;
    width: 100%;
    margin-bottom: 2vh;
}


/** RESPONSIVENESS SCREEN **/
@media only screen and (max-width: 960px) {
    #nav_link{
        display: visible;
        height:10vh;
        width: 5vh;
        position: absolute;
        cursor: pointer;
    }
    #nav_link span{
        width: 100%;
        height: 0.275vh;
        background: var(--clr);
        display: flex;
        flex-direction: column;
        margin-top: 1.5vh;
    }
    #nav_menu{
        height: 80vh;
        margin: 0 !important;
        padding: 0 !important;
        position: absolute;
        z-index: 3;
        margin: auto;
        width: var(--def-width);
        display: none;
        flex-direction: column;
        background: var(--dpr-bg);
        top: 10vh;
        padding-top: 10vh !important;
    }
    #nav_menu.nav{display: flex;}
    #nav_link.change #first{
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-14px, 10px);
    }
    #nav_link.change #second{opacity: 0;}
    #nav_link.change #third{
        background: var(--lnk-clr);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg) translate(-9px, -6px);
    }
    :root{
        --md-fnt-size:2em;
        --md-width:70%;
        --def-width:94%;
    }
    section div.col-section{
        max-height: 52vh;
        width: 48%;margin-bottom: 4vh;}
    section{margin-bottom: 30vh; 
        height: max-content auto !important; }
}
/** RESPONSIVEN ON TABLE **/
@media only screen and (max-width: 720px) {
    :root{
        --md-fnt-size:1.5em;
        --md-width:80%;
        --def-width:94%;
    }
    .col{
        width: var(--mx-width);
        height: max-content auto !important;}
    section .inverted{
        min-height: 80vh;
        flex-direction: column-reverse;}
    section .inverted img{width: 70%; height: auto !important;}
    footer section{ height:auto}
    footer section .inverted{
        min-height: auto !important;}
    section .store-items div.item{height: 50vh;}
    section .col.r {margin-bottom: 10vh;}
    section .store-items .col.r {
        height: auto;
        position: relative;}
    section .store-items .item-tags{
        margin-bottom: 10vh;
        margin-top: 10vh;}
    section .store-items .item-tags a{margin-left: 3vh;}
    section .inverted img{height: auto;width: 100%;}
    main .left-heading p,
    main .left-heading h1,
    main .left-heading h2{width: 100%;}
    section .multi-tool a{
        width:24%;
        height: 24vh;
        margin-bottom: 1.5vh !important;}
    section .mid h2:after{padding-left: 4vh;}
    section .mid iframe, 
    section .mid img,
    section .mid video{ 
        height: auto;
        object-fit: cover;
        width: 100%;}
    section .mid iframe{ min-height: 30vh;}
    section div.col-section{
        height: max-content;
        padding-bottom: 4vh;}
    section div.col-section{width: var(--md-width);}
}
/** RESPONSIVEN PHONE **/
@media only screen and (max-width: 480px) {
    :root{
        --md-fnt-size:1.4em;
        --md-width:98%;
        --def-width:92%;
    }
    section div.col-section{
        width: 100%;
    }
}


