@font-face {
    font-family: "gt-bold";
    src: url(./assets/gt-walsheim-regular-webfont.woff2);
}

@font-face {
    font-family: "gt-light";
    src: url(./assets/gt-light.woff);
}

:root {
    --bg-clr-1: #000000;
    --bg-clr-2: #16181d;
    --clr: #7d8590;
    --lit-clr: #fff;
    --lnk-clr: #00bfa6;
    --wid-mx: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0 !important;
    padding: 0 auto;
    background-color: var(--bg-clr-1);
    font-family: "gt-light";
    color: var(--clr);
}

a {
    color: var(--clr);
    text-decoration: none;
}

.active {
    color: var(--lit-clr);
}

h1 {
    font-size: 48px;
    margin: 0;
    color: var(--clr);
    font-family: "gt-bold";
}

p {
    font-size: 24px;
    margin: 0;
}


/* PAGE STRUCTURE  */

#root {
    display: flex;
    flex-direction: column;
    width: var(--wid-mx);
}

main,
header,
span {
    display: flex;
}

main {
    flex-direction: column;
    width: 100%;
}

main .get-started {
    border: solid 2px var(--lnk-clr);
    padding: 4vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: max-content;
    border-radius: 4vh;
    font-size: 24px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: var(--lnk-clr);
}

header {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
}

header .action {
    flex-direction: column;
    height: 22vh;
    background: var(--bg-clr-2);
    border-radius: 6px;
    margin-bottom: 4vh;
    cursor: pointer;
}

header .action:hover {
    box-shadow: 0px 0px 10px var(--lnk-clr);
}

header .action p,
header .action h4 {
    padding: 3%;
}