
:root {
  --def-wid: 96%;
  --col-wid: 50%;
  --clr: #7d8590;
  --lnk-clr: #fff;
  --active-clr: #00bfa6;
  --dpr-clr: #000;
  /* --ltr-clr: #12181a; */
  --ltr-clr: #0d1117;
  --fnt-lg: 44px;
  --fnt-md: calc(var(--fnt-lg) / 2);
  --border: solid var(--active-clr) 1px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
  display: none;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--dpr-clr);
  color: var(--clr);
  font-size: var(--fnt-md);
  font-family: "gt-light";
  font-weight: 100;
}

#root {
  width: var(--def-wid);
  margin: auto;
}

a {
  color: var(--lnk-clr) !important;
  text-decoration: none;
  transition: color 0.3s;
}

a.active,
a:hover {
  color: var(--active-clr) !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  width: var(--col-wid);
}

section.col.r {
  height: 100vh;
  align-items: flex-end;
  position: sticky;
  top: 0;
  background-color: var(--dpr-clr);
}

section.col.r .icon {
  width: var(--col-wid);
}

section.col.r .icon a {
  margin-right: 4vh;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

section.col.l {
  justify-content: flex-end;
}

article {
  margin-top: 40vh;
}

article#main {
  margin-top: 0vh;
}

article p,
article h1 {
  margin: 0;
}

article h1 {
  text-align: right;
  font-size: var(--fnt-lg);
  font-family: "gt-bold";
  font-weight: 900;
  /* text-transform: capitalize; */
}

article .col.r p {
  width: var(--col-wid);
}

article p {
  margin: 0;
  margin-bottom: 2vh;
  text-align: justify;
}

article .h2 {
  text-transform: capitalize;
  background-color: var(--ltr-clr);
  padding: 3%;
  width: 44% !important;
  margin-top: 2vh;
  border-radius: 1vh;
  text-align: left;
}

section.col img {
  width: 100%;
}

section.row {
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

article.article img,
iframe {
  width: 100%;
  min-height: 70vh;
  border-radius: 0vh;
  border: none !important;
}

article.article img {
  margin-bottom: 4vh;
}

.panel {
  background-color: var(--ltr-clr);
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.panel.active {
  background-color: #eee;
}

.header {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.body {
  display: none;
  padding: 10px;
}

.active-panel {
  display: block;
}

.btn {
  /* background-color: var(--ltr-clr);
  border: none; */
  background-color: black;
  border: var(--ltr-clr) solid;
  cursor: pointer;
  color: var(--active-clr);
  transition: color 0.3s;
  border-radius: 1vh;
}

.btn.no-btn {
  background-color: black;
}

.no-clr {
  color: var(--clr) !important;
}

.btn:hover {
  color: var(--lnk-clr);
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

/* ACCORDION STYLES */

.accordion-item {
  margin-bottom: 2vh;
}

.accordion-button {
  border: var(--ltr-clr) solid;
  color: var(--lnk-clr);
  text-align: left;
  cursor: pointer;
  background-color: black;
  transition: border 0.3s;
  width: max-content;
  border-radius: 1vh;
}

.accordion-button:hover {
  border: solid var(--ltr-clr);
  color: var(--active-clr);
}

.accordion-button.active {
  color: var(--active-clr);
}

.accordion-content {
  padding-top: 10px;
  display: none;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* *ITEMS* */

.row.review {
  margin-bottom: 20vh;
}



/* *RESPONSIVE*WEB* */

@media only screen and (max-width: 720px) {
  :root {
    --def-wid: 90%;
    --fnt-lg: 40px;
    --col-wid: 100%;
  }

  .row {
    flex-direction: column-reverse;
  }

  .col {
    width: 100%;
  }

  article .h2 {
    width: 94% !important;
  }

  section.col.r {
    height: auto;
  }

  section.col.r .icon {
    flex-direction: row;
  }

  article.article img,
  iframe {
    min-height: 50vh;
  }

  article.footer,
  article.top {
    min-height: 100vh;
    justify-content: space-between;
  }
}



.animate-bounce {
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}