@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
:root {
    --black: #0c0c0c;
    /* Deep matte black */
    --white: #F9FAFB;
    /* Light, readable primary text */
    --font-size: 1.075rem;
    --primary: #10B981;
    /* Vibrant Emerald primary */
    --rad: 10px;
}

* {
    min-width: 0 !important;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
}

/* Elements */
html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    font-weight: 300;
}

section {
    margin-bottom: 35vh;
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
    padding: 1em;
}

body h1 {
    font-size: calc(var(--font-size) * 4);
    text-transform: capitalize;
    font-weight: 900;
    text-align: left;
    line-height: 1;
    margin-top: 0vh;
    margin-bottom: 10vh;
}

body h2 {
    font-size: calc(var(--font-size) * 2);
    text-transform: capitalize;
    font-weight: 900;
    margin: 0;
    text-align: left;
    line-height: normal;
}

body h4 {
    font-size: calc(var(--font-size) * 1);
    text-transform: capitalize;
    font-weight: 900;
    margin: 0;
    text-align: left;
    line-height: normal;
}

/* Classes */
body .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body .row.between {
    justify-content: space-between;
}

body .col {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Buttons & Tags */
a,
.active {
    color: var(--primary);
    /* Use primary color for links and active elements */
    text-decoration: none;
    font-weight: 400;
}

.btn,
.tag {
    display: inline-block;
    /* Aligning buttons/tags inline */
    cursor: pointer;
    font-size: var(--font-size);
    margin-right: 1.075rem;
    margin-bottom: 1.075rem;
    background-color: transparent;
    color: var(--white);
    /* White text for buttons and tags */
    padding: 0.7rem 1rem;
    border-radius: var(--rad);
    box-shadow: 0 0 0 1px var(--primary);
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effect */
}

.btn.active {
    background-color: var(--primary);
    color: var(--white);
}

.btn.active:hover,
.tag:hover {
    background-color: var(--primary);
    color: var(--black);
    /* Black text on hover for better contrast */
}

/* Section Background */
section#__back aside.maxed {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 10vh;
    margin-top: 40vh;
    background-attachment: fixed;
}



section#__back aside.maxed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    /* Ensures enough image to scroll through */
    background: url('/worksho.jpg') no-repeat fixed;
    /* Replace with your actual image path */
    background-size: cover;
    /* Start with the bottom of the image at the bottom of the container */
    background-position: center bottom;
    animation: moveBackground 10s linear backwards;
}

@keyframes moveBackground {
    from {
        /* Start with the image bottom aligned with the container bottom */
        transform: translateY(0%);
    }

    to {
        /* Move the image up until its top aligns with the container top */
        transform: translateY(-50%);
    }
}

/* Additional Styles */
a.active {
    color: var(--primary);
}

section#__talk {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    border-radius: var(--rad);
    min-height: 35vh;
    margin-bottom: 5vh;
}

.right {
    height: max-content;
    position: sticky;
    top: 0px;
    justify-content: flex-end;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 960px) {

    body h1 {
        font-size: calc(var(--font-size) * 2.5);
        text-align: left;
        margin-bottom: 5vh;
    }

    body h3 {
        font-size: calc(var(--font-size) * 1.5);
    }

    section aside.col {
        width: 100%;
    }

    article .col {
        width: 100%;
    }

    article.col {
        width: 94%;
    }

    section#__back aside.maxed {
        height: 60vh;
        margin-bottom: 10vh;
        margin-top: 35vh;
    }

    body .row.reverse {
        flex-direction: column-reverse;
    }

    body .row.reverse .right {
        position: relative;
    }

    section {
        margin-bottom: 30vh;
    }

    article {
        margin-bottom: 10vh;
        padding: .5em;
    }

    img {
        margin-bottom: 3vh;
    }
}