:root {
  --bg-dpr:#000000 ;
  --bg-ltr:#1b1e28;
  --fnt: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --fnt-lg:40px;
  --fnt-md: 20px !important;
  --clr: #7d8590;
  --active:#00BFA6;
  --lnk:#ffffff;
  --rad: 8px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
}

a {
  font-weight: 400;
  color:var(--lnk);
  text-decoration: inherit;
}
.active{
  color: var(--active);
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
  font-family: var(--fnt);
  font-size: var(--fnt-md) !important;
  color: var(--clr);
  background-color: var(--bg-dpr);
}

h1 {
  font-size: var(--fnt-lg);
}



button {
  border: 1px solid transparent;
  border-radius: var(--rad);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--bg-ltr);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
