:root {
    --light: #000000;
    --dark: #ffffff;
    /* --dark: #000000;
    --light: #ffffff; */
    --font-size: 1.1em;
    --fade: #a2a2a2;
    --active: #00bfa6;
    --rad: 2px;
}


@font-face {
    font-family: gt;
    src: url(./assets/GTWalsheimPro-Thin.woff2);
}

@font-face {
    font-family: gt-bold;
    src: url(./assets/GTWalsheim.woff2);
}

* {
    min-width: 0 !important;
}

/* STYLE ON BODY */
html,
body {
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    color: var(--light);
    font-size: var(--font-size);
    font-family: 'gt';
}


body .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body .row.reverse {
    flex-direction: row-reverse;
}

body .row.between {
    justify-content: space-between;
}

body .col {
    display: flex;
    flex-direction: column;
}

body a {
    text-decoration: none;
    color: var(--light);
    font-family: "gt-bold" !important;
}

body h1 {
    font-size: calc(var(--font-size)*4);
    line-height: calc(var(--font-size));
    text-transform: capitalize;
    font-family: 'gt-bold';
    text-align: justify;
    margin: 0;
}


body h2 {
    font-size: var(--font-size);
    font-family: 'gt-bold';
}

body a.active {
    color: var(--active);
}

body p {
    margin: 0;
    margin-bottom: 1rem;
}

body p b {
    font-family: "gt-bold";
    text-transform: capitalize;
}


/* STYLE ON SECTIONS */
section {
    min-height: max-content;
    margin-bottom: 40vh;
}

section.margin {
    margin-bottom: 0vh;
}

section#challenge__section {
    background-image: url('./assets/bg.webp');
    background-size: cover;
    height: 80vh;
    align-items: center;
}

section aside.right {
    height: max-content;
    position: sticky;
    top: -1px;
    width: 50%;
    justify-content: flex-end;
}

section aside.left {
    width: 50%;
}



/* STYLE ON ARTICLE */
article {
    padding: 1rem;
    background-size: cover;
}

article img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: var(--rad);
}



/* BUTTONS  */
article .btn {
    margin-right: 1rem;
    border: none;
    padding: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: var(--rad);
    font-family: "gt";
    margin-top: .5rem;
}

article .btn.active {
    background-color: var(--active);
    color: var(--light);
}

article .btn.lighter {
    background-color: var(--light);
    color: var(--dark);
}

article .btn.lnk {
    color: var(--active);
    padding-left: 0;
}


article .btn.active.tag {
    background-color: var(--dark);
    border: var(--light) solid 0.25px;
    color: var(--active);
}

article .btn.light.tag {
    /* background-color:  */
    border: var(--light) solid 1px !important;
    color: var(--light) !important;
}


/* GRID-DESIGN */
aside.grid {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

aside.grid article {
    padding: 0;
    background-image: url('./assets/bg.webp');
    width: 49.4%;
    height: 80vh;
    margin-bottom: 1rem;
    justify-content: flex-end;
    text-align: left;
}

aside.grid article a {
    background-color: var(--light);
    color: var(--dark);
    padding: 1rem;
    width: max-content;
}



/* ADD FORMS  */
article.select {
    margin: 1rem;
    margin-bottom: 2rem;
    border: 0.25px solid var(--light) !important;
    border-radius: calc(var(--rad)*2);
    width: 70%;
    padding: 2rem;
}

article .profileImage {
    background-size: contain;
    background-color: var(--light);
    height: 100px;
    width: 100px;
    margin-right: 2rem;
    border-radius: 50%;
}

article.profile {
    margin-top: 2rem;
}


/* STYLE ON MOBILE */
@media only screen and (max-width: 960px) {
    :root {
        --font-size: 20px;
    }

    body h1 {
        font-size: calc(var(--font-size)*2.4);
        line-height: calc(var(--font-size)*2.4);
    }

    body .row.reverse {
        flex-direction: column;
    }

    section aside.col {
        width: 100%;
    }

    section {
        min-height: max-content;
        margin-bottom: 15vh;
    }

    section#challenge__section {
        height: 40vh;
    }

    section .right {
        height: max-content;
    }

    section article {
        padding: 6rem;
        padding-top: 0rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    aside.grid article {
        width: 100%;
        height: 40vh;
    }

    article.select {
        margin: .5rem;
        margin-bottom: 2rem;

    }

}