:root {
    --black: #000000;
    --white: #ffffff;
    --font-size: 1.075rem;
    --green: #00BFA6;
    --rad: 8px;
}

@font-face {
    font-family: gt;
    src: url('./assets/gt-walsheim-regular-webfont.woff2');
}
@font-face {
    font-family: gt-bold;
    src: url('./assets/GT-Walsheim-Bold.woff');
}

* {
    min-width: 0 !important;
}

/* ELEMENTS */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'gt';
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    font-weight: 100;
}

section {
    margin-bottom: 20vh;
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    padding: 1em;
}

body a {
    text-decoration: none;
    color: var(--light);
    font-family: "gt-bold" !important;
}

body h1 {
    font-size: calc(var(--font-size)*4);
    text-transform: capitalize;
    font-family: 'gt-bold';
    font-weight: 900;
    margin: 0;
    text-align: justify;
    line-height: normal;
}


/* CLASSES */
body .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body .row.between {
    justify-content: space-between;
}

body .col {
    display: flex;
    flex-direction: column;
    width: 50%;
}


/* BUTTONS  */
article .btn {
    cursor: pointer;
    margin-right: 1rem;
    border: none;
    padding: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: var(--rad);
    font-family: "gt" !important;
    margin-top: .5rem;
}

article .tag {
    cursor: pointer;
    margin-right: 1rem;
    border: solid var(--green) 1px;
    padding: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: var(--rad);
    font-family: "gt" !important;
    margin-top: .5rem;

}

article .btn.active {
    background-color: var(--green);
    color: var(--white);
}

/* SECTION BACKGROUND */
section#__back aside.maxed {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    margin-top: 35vh;
    background-attachment: fixed;

}

a.active {
    color: var(--green);
    font-family: 'gt' !important;
}

section#__talk {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    border-radius: 4px;
    min-height:35vh;
    margin-bottom: 1rem;
}

.right {
    height: max-content;
    position: sticky;
    top: 0px;
    justify-content: flex-end;
}



/* STYLE ON MOBILE */
@media only screen and (max-width: 960px) {

    body h1 {
        font-size: calc(var(--font-size)*3);
    }

    section aside.col {
        width: 100%;
    }

    article .col {
        width: 100%;
    }

    section#__back aside.maxed {
        height: 60vh;
    }

    body .row.reverse {
        flex-direction: column-reverse;
    }

    body .row.reverse .right {
        position: relative;
    }

    section {
        margin-bottom: 15vh;
    }
    
    article {
        margin-bottom: 5vh;
        padding: .5em;
    }
    




}