:root {
    --dark: #000000;
    --font-size: 20px;
    --light: #ffffff;
    --fade: #a2a2a2;
    --active: #00bfa6;
    --rad: 6px;
}

@font-face {
    font-family: gt;
    src: url(./assets/GTWalsheimPro-Thin.woff2);
}
@font-face {
    font-family: gt-bold;
    src: url(./assets/GTWalsheim.woff2);
}


/* STYLE ON BODY */
html,
body {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    color: var(--light);
    font-size: var(--font-size);
    font-family: 'gt';
    font-weight:100;
}


body .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body .row.reverse {
    flex-direction: row-reverse;
}

body .col {
    display: flex;
    flex-direction: column;
}

body a {
    text-decoration: none;
    color: var(--light);
    font-weight: bolder !important;

}

body h1 {
    font-size: calc(var(--font-size)*4);
    line-height: calc(var(--font-size)*4);
    text-transform: capitalize;
    font-family: 'gt-bold';
    font-weight: 900;
    margin: 0;
}


/* STYLE ON SECTIONS */
section {
    min-height: max-content;
    margin-bottom: 20vh;
}


section#full__bg{
    background-image: url('./assets/apr16-01-184777571.jpg');
    background-size: cover;
    height: 80vh;
    align-items: center;
}


section aside.right {
    height: max-content;
    position: sticky;
    top: -1px;
    width: 50%;
    justify-content: flex-end;
}

section aside.left {
    width: 50%;
}

section.margin {
    margin-bottom: 0vh;
}








/* STYLE ON ARTICLE */
article {
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 6rem;
}

article img {
    max-width: 100%;
    max-height: 80vh;
    /* border-radius: var(--rad); */
}

article span {
    background-color: var(--dark);
    text-transform: capitalize;
}

article span.tag {
    margin-right: 1rem;
}

article span.tag i {
    color: var(--fade);
    font-style: normal;
}

article .btn {
    margin-right: 1rem;
    border: none;
    padding: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: var(--rad);
    font-family: "gt";
    font-weight: 100;
    margin-top: .5rem;
}

article .btn.active {
    background-color: var(--active);
    color: var(--light);
}
article .btn.lighter {
    background-color: var(--light);
    color: var(--dark);
}
article .btn.lnk {
    color: var(--active);
    text-decoration: underline !important;
}


article .btn.active.tag {
    background-color: var(--dark);
    border: var(--active) solid 1px;
    color: var(--active);
}
article .btn.light.tag {
    /* background-color:  */
    border: var(--light) solid 1px !important;
    color: var(--light) !important;
}

article a.active {
    color: var(--active);
}

article p b{
    font-family: "gt-bold";
    text-transform: capitalize;
}



/* STYLE ON MOBILE */
@media only screen and (max-width: 960px) {
    :root{
        --font-size: 20px;
    }
    body h1 {
        font-size: calc(var(--font-size)*2.4);
        line-height: calc(var(--font-size)*2.4);
       
    }

  

    section#content__map {
        flex-direction: column-reverse;
    }

    body .row.reverse {
        flex-direction: column;
    }

    section aside.col {
        width: 100%;
    }

    section {
        min-height: max-content;
        margin-bottom: 15vh;
    }

    section .right {
        height: max-content;
    }

    section article {
        padding: 6rem;
        padding-top: 0rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    section article.features {
        background-color: var(--dark);
    }
}